.contact-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  background-color: none;
  padding: 20px;
  position: relative;
}

.contact-icons {
  position: absolute;
  left: 50px; /* Adjust as needed */
  top: 55%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-icons a {
  color: #333;
  font-size: 35px;
  transition: transform 0.3s, color 0.3s, filter 0.3s;
  display: inline-block;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.contact-icons a:hover {
  color: #ffc800;
  animation: pulse 0.6s infinite;
  filter: drop-shadow(0 0 10px #ffc800);
}

.contact-form {
  background: form;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin-top: 100px;
  margin-right: 150px;
  outline: 1px solid; /* Ensure an outline is drawn */
  outline-color: #ffc800; /* Set the color of the outline */

}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #ffc800;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s;
}

.submit-button:hover {
  background-color: #ffb700;
  transform: scale(1.05);
}
